<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aiyouwodeniangai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{103,329},{86,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baoyouwojinniangaozhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{108,439},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biedangwo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,125}</string>
                <key>spriteSourceSize</key>
                <string>{79,125}</string>
                <key>textureRect</key>
                <string>{{228,562},{79,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buqulahaimeiwangoune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,160}</string>
                <key>spriteSourceSize</key>
                <string>{98,160}</string>
                <key>textureRect</key>
                <string>{{0,850},{98,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyaocuoguo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,169}</string>
                <key>spriteSourceSize</key>
                <string>{68,169}</string>
                <key>textureRect</key>
                <string>{{68,1018},{68,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bx_enne_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,96}</string>
                <key>spriteSourceSize</key>
                <string>{57,96}</string>
                <key>textureRect</key>
                <string>{{200,230},{57,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bx_shenmegui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,86}</string>
                <key>spriteSourceSize</key>
                <string>{44,86}</string>
                <key>textureRect</key>
                <string>{{198,141},{44,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bx_shenxiana.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,81}</string>
                <key>spriteSourceSize</key>
                <string>{45,81}</string>
                <key>textureRect</key>
                <string>{{450,60},{45,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bx_shenxianlaile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,105}</string>
                <key>spriteSourceSize</key>
                <string>{45,105}</string>
                <key>textureRect</key>
                <string>{{237,329},{45,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bx_wang_png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,81}</string>
                <key>spriteSourceSize</key>
                <string>{74,81}</string>
                <key>textureRect</key>
                <string>{{0,141},{74,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bx_yaoguai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{350,0},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengsiwole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,106}</string>
                <key>spriteSourceSize</key>
                <string>{55,106}</string>
                <key>textureRect</key>
                <string>{{282,329},{55,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chizhemeduo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,107}</string>
                <key>spriteSourceSize</key>
                <string>{55,107}</string>
                <key>textureRect</key>
                <string>{{337,329},{55,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuanbangla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,98}</string>
                <key>spriteSourceSize</key>
                <string>{44,98}</string>
                <key>textureRect</key>
                <string>{{305,230},{44,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cijingshenmiaobuqupantaohuiyeba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,191}</string>
                <key>spriteSourceSize</key>
                <string>{107,191}</string>
                <key>textureRect</key>
                <string>{{309,1018},{107,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dabaolurouhuoshao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,125}</string>
                <key>spriteSourceSize</key>
                <string>{122,125}</string>
                <key>textureRect</key>
                <string>{{106,562},{122,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dage_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,69}</string>
                <key>spriteSourceSize</key>
                <string>{56,69}</string>
                <key>textureRect</key>
                <string>{{178,60},{56,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dajingxiaoguai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,104}</string>
                <key>spriteSourceSize</key>
                <string>{48,104}</string>
                <key>textureRect</key>
                <string>{{189,329},{48,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daleila.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,87}</string>
                <key>spriteSourceSize</key>
                <string>{52,87}</string>
                <key>textureRect</key>
                <string>{{345,141},{52,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duizhangguolaoshuodedui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,123}</string>
                <key>spriteSourceSize</key>
                <string>{78,123}</string>
                <key>textureRect</key>
                <string>{{367,439},{78,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enenbuqulekangubeiyejing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,151}</string>
                <key>spriteSourceSize</key>
                <string>{89,151}</string>
                <key>textureRect</key>
                <string>{{238,696},{89,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanjiangoutaibuwenroule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,163}</string>
                <key>spriteSourceSize</key>
                <string>{105,163}</string>
                <key>textureRect</key>
                <string>{{98,850},{105,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haomeiya.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,89}</string>
                <key>spriteSourceSize</key>
                <string>{49,89}</string>
                <key>textureRect</key>
                <string>{{445,141},{49,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haoxianga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,92}</string>
                <key>spriteSourceSize</key>
                <string>{55,92}</string>
                <key>textureRect</key>
                <string>{{96,230},{55,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haozaizhebuzuibugui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,221}</string>
                <key>spriteSourceSize</key>
                <string>{52,221}</string>
                <key>textureRect</key>
                <string>{{0,1212},{52,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huifeiyoushenmeliaobuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,188}</string>
                <key>spriteSourceSize</key>
                <string>{60,188}</string>
                <key>textureRect</key>
                <string>{{249,1018},{60,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huijiashouyifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,149}</string>
                <key>spriteSourceSize</key>
                <string>{55,149}</string>
                <key>textureRect</key>
                <string>{{130,696},{55,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jidongxi_huitianting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,65}</string>
                <key>spriteSourceSize</key>
                <string>{178,65}</string>
                <key>textureRect</key>
                <string>{{0,60},{178,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiuming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,73}</string>
                <key>spriteSourceSize</key>
                <string>{59,73}</string>
                <key>textureRect</key>
                <string>{{293,60},{59,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuailaipenggechang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,172}</string>
                <key>spriteSourceSize</key>
                <string>{53,172}</string>
                <key>textureRect</key>
                <string>{{136,1018},{53,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuairangwopaogewenquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,230}</string>
                <key>spriteSourceSize</key>
                <string>{106,230}</string>
                <key>textureRect</key>
                <string>{{52,1212},{106,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laiwanjiubei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,110}</string>
                <key>spriteSourceSize</key>
                <string>{55,110}</string>
                <key>textureRect</key>
                <string>{{434,329},{55,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laotie_youheduole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,167}</string>
                <key>spriteSourceSize</key>
                <string>{105,167}</string>
                <key>textureRect</key>
                <string>{{255,850},{105,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laoxitai_wa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lihaile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,89}</string>
                <key>spriteSourceSize</key>
                <string>{48,89}</string>
                <key>textureRect</key>
                <string>{{397,141},{48,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meishijie_kuaikan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,80}</string>
                <key>spriteSourceSize</key>
                <string>{49,80}</string>
                <key>textureRect</key>
                <string>{{352,60},{49,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meishijie_shenxian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,80}</string>
                <key>spriteSourceSize</key>
                <string>{49,80}</string>
                <key>textureRect</key>
                <string>{{401,60},{49,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meishijie_yaoguai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,86}</string>
                <key>spriteSourceSize</key>
                <string>{51,86}</string>
                <key>textureRect</key>
                <string>{{242,141},{51,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meishijie_zhuyaoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,96}</string>
                <key>spriteSourceSize</key>
                <string>{49,96}</string>
                <key>textureRect</key>
                <string>{{151,230},{49,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mudanhuienna.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{60,82}</string>
                <key>textureRect</key>
                <string>{{74,141},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianghuajiua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,117}</string>
                <key>spriteSourceSize</key>
                <string>{59,117}</string>
                <key>textureRect</key>
                <string>{{0,439},{59,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nimenlianggejiuwo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{349,230},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qingkaishinidebiaoyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,166}</string>
                <key>spriteSourceSize</key>
                <string>{52,166}</string>
                <key>textureRect</key>
                <string>{{203,850},{52,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qumaishaobinglou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,128}</string>
                <key>spriteSourceSize</key>
                <string>{55,128}</string>
                <key>textureRect</key>
                <string>{{307,562},{55,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenxianjiejie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,100}</string>
                <key>spriteSourceSize</key>
                <string>{42,100}</string>
                <key>textureRect</key>
                <string>{{0,329},{42,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenxianzouguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,108}</string>
                <key>spriteSourceSize</key>
                <string>{42,108}</string>
                <key>textureRect</key>
                <string>{{392,329},{42,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tangshijie_daleila.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,87}</string>
                <key>spriteSourceSize</key>
                <string>{52,87}</string>
                <key>textureRect</key>
                <string>{{293,141},{52,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tangshijie_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,58}</string>
                <key>spriteSourceSize</key>
                <string>{55,58}</string>
                <key>textureRect</key>
                <string>{{240,0},{55,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tangshijie_enna.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,96}</string>
                <key>spriteSourceSize</key>
                <string>{48,96}</string>
                <key>textureRect</key>
                <string>{{257,230},{48,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tangshijie_xiayule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{52,90}</string>
                <key>textureRect</key>
                <string>{{44,230},{52,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tangshijie_yutinghle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,57}</string>
                <key>spriteSourceSize</key>
                <string>{156,57}</string>
                <key>textureRect</key>
                <string>{{84,0},{156,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenquandengni.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,243}</string>
                <key>spriteSourceSize</key>
                <string>{84,243}</string>
                <key>textureRect</key>
                <string>{{158,1212},{84,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenquxing_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{134,141},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenquxingya.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,103}</string>
                <key>spriteSourceSize</key>
                <string>{61,103}</string>
                <key>textureRect</key>
                <string>{{42,329},{61,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenwuxingxianling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,121}</string>
                <key>spriteSourceSize</key>
                <string>{57,121}</string>
                <key>textureRect</key>
                <string>{{310,439},{57,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>woaixuexi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,154}</string>
                <key>spriteSourceSize</key>
                <string>{121,154}</string>
                <key>textureRect</key>
                <string>{{327,696},{121,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>woshixiannv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,194}</string>
                <key>spriteSourceSize</key>
                <string>{58,194}</string>
                <key>textureRect</key>
                <string>{{416,1018},{58,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wozaiwenquanxiaozhendengni.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,168}</string>
                <key>spriteSourceSize</key>
                <string>{92,168}</string>
                <key>textureRect</key>
                <string>{{360,850},{92,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangu_wanshane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,124}</string>
                <key>spriteSourceSize</key>
                <string>{106,124}</string>
                <key>textureRect</key>
                <string>{{0,562},{106,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiannv_shanhua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,118}</string>
                <key>spriteSourceSize</key>
                <string>{49,118}</string>
                <key>textureRect</key>
                <string>{{59,439},{49,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yhsy_wa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,47}</string>
                <key>spriteSourceSize</key>
                <string>{42,47}</string>
                <key>textureRect</key>
                <string>{{42,0},{42,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yhsy_wang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,58}</string>
                <key>spriteSourceSize</key>
                <string>{55,58}</string>
                <key>textureRect</key>
                <string>{{295,0},{55,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yihuizaiquchangchengkanyejing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,144}</string>
                <key>spriteSourceSize</key>
                <string>{130,144}</string>
                <key>textureRect</key>
                <string>{{0,696},{130,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youzhuzaitianshangfei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,151}</string>
                <key>spriteSourceSize</key>
                <string>{53,151}</string>
                <key>textureRect</key>
                <string>{{185,696},{53,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zaigeiwo_laizhiji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,121}</string>
                <key>spriteSourceSize</key>
                <string>{69,121}</string>
                <key>textureRect</key>
                <string>{{188,439},{69,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zgl_kazhule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,90}</string>
                <key>spriteSourceSize</key>
                <string>{44,90}</string>
                <key>textureRect</key>
                <string>{{0,230},{44,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhegedifangzhenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,244}</string>
                <key>spriteSourceSize</key>
                <string>{112,244}</string>
                <key>textureRect</key>
                <string>{{242,1212},{112,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhehuajiugouwei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,134}</string>
                <key>spriteSourceSize</key>
                <string>{83,134}</string>
                <key>textureRect</key>
                <string>{{362,562},{83,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhexiaoshengfangfutianshangyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,187}</string>
                <key>spriteSourceSize</key>
                <string>{60,187}</string>
                <key>textureRect</key>
                <string>{{189,1018},{60,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zouguoluguo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,169}</string>
                <key>spriteSourceSize</key>
                <string>{68,169}</string>
                <key>textureRect</key>
                <string>{{0,1018},{68,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zouweiyibanba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,121}</string>
                <key>spriteSourceSize</key>
                <string>{53,121}</string>
                <key>textureRect</key>
                <string>{{257,439},{53,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>救命.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,73}</string>
                <key>spriteSourceSize</key>
                <string>{59,73}</string>
                <key>textureRect</key>
                <string>{{234,60},{59,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialog_a.png</string>
            <key>size</key>
            <string>{495,1456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4d52a6396a9c3f611f17b38fc1b0a75:021e8d22d937cdf66d53570283aa7f2f:b57512a2ccef3ced33b9384f386b122b$</string>
            <key>textureFileName</key>
            <string>dialog_a.png</string>
        </dict>
    </dict>
</plist>
