<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baxiangong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,269}</string>
                <key>spriteSourceSize</key>
                <string>{51,269}</string>
                <key>textureRect</key>
                <string>{{100,0},{51,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bushixian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,268}</string>
                <key>spriteSourceSize</key>
                <string>{50,268}</string>
                <key>textureRect</key>
                <string>{{50,0},{50,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tujingyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,268}</string>
                <key>spriteSourceSize</key>
                <string>{50,268}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanchumashangkaishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,120}</string>
                <key>spriteSourceSize</key>
                <string>{303,120}</string>
                <key>textureRect</key>
                <string>{{202,0},{303,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youyun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,1229}</string>
                <key>spriteSourceSize</key>
                <string>{496,1229}</string>
                <key>textureRect</key>
                <string>{{0,269},{496,1229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yushi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,267}</string>
                <key>spriteSourceSize</key>
                <string>{51,267}</string>
                <key>textureRect</key>
                <string>{{151,0},{51,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoyun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,1229}</string>
                <key>spriteSourceSize</key>
                <string>{504,1229}</string>
                <key>textureRect</key>
                <string>{{0,1498},{504,1229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kaitou.png</string>
            <key>size</key>
            <string>{505,2727}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e334358383b302f78ffbd3d5888a7b1:f1f08386258d79e28c0cd11e3e6db9f4:976779fe94ecfe804070f78dca50dfa2$</string>
            <key>textureFileName</key>
            <string>kaitou.png</string>
        </dict>
    </dict>
</plist>
