<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baxian_chunjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,123},{26,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,205}}</string>
                <key>sourceSize</key>
                <string>{26,205}</string>
            </dict>
            <key>baxian_haoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{26,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,204}}</string>
                <key>sourceSize</key>
                <string>{26,204}</string>
            </dict>
            <key>baxian_miaohui.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{26,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,205}}</string>
                <key>sourceSize</key>
                <string>{26,205}</string>
            </dict>
            <key>baxian_xiafan.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,151},{26,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,204}}</string>
                <key>sourceSize</key>
                <string>{26,204}</string>
            </dict>
            <key>bozisuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{55,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,149}}</string>
                <key>sourceSize</key>
                <string>{55,149}</string>
            </dict>
            <key>denglong_jiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,188},{54,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,144}}</string>
                <key>sourceSize</key>
                <string>{54,144}</string>
            </dict>
            <key>fanrenhejiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,380},{120,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{120,128}</string>
            </dict>
            <key>fuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,179},{200,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,199}}</string>
                <key>sourceSize</key>
                <string>{200,199}</string>
            </dict>
            <key>guorandaijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,380},{54,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,104}}</string>
                <key>sourceSize</key>
                <string>{54,104}</string>
            </dict>
            <key>mainianhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{221,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,119}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>mainianli_faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,156}}</string>
                <key>sourceSize</key>
                <string>{256,156}</string>
            </dict>
            <key>nianli_denglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,244},{53,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,144}}</string>
                <key>sourceSize</key>
                <string>{53,144}</string>
            </dict>
            <key>shenmewei.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,380},{54,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,104}}</string>
                <key>sourceSize</key>
                <string>{54,104}</string>
            </dict>
            <key>shuazaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,437},{55,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,149}}</string>
                <key>sourceSize</key>
                <string>{55,149}</string>
            </dict>
            <key>tanghulu.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,380},{55,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,149}}</string>
                <key>sourceSize</key>
                <string>{55,149}</string>
            </dict>
            <key>tieguaili_chunjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{120,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{120,128}</string>
            </dict>
            <key>woyaokan.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,179},{55,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,149}}</string>
                <key>sourceSize</key>
                <string>{55,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nianli.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2be798a2f088ef9e7a9fda79e80611b:1/1$</string>
            <key>textureFileName</key>
            <string>nianli.png</string>
        </dict>
    </dict>
</plist>
