<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>award_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,2},{240,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,56}}</string>
                <key>sourceSize</key>
                <string>{244,60}</string>
            </dict>
            <key>beset_wish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,793},{112,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bestwish_facaituodan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1044},{101,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,355}}</string>
                <key>sourceSize</key>
                <string>{101,355}</string>
            </dict>
            <key>bestwish_fajiyonggu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,830},{96,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,355}}</string>
                <key>sourceSize</key>
                <string>{96,355}</string>
            </dict>
            <key>bestwish_fuqiankang.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1130},{97,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,355}}</string>
                <key>sourceSize</key>
                <string>{97,355}</string>
            </dict>
            <key>bestwish_kuangchibupang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,464},{105,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,350}}</string>
                <key>sourceSize</key>
                <string>{105,350}</string>
            </dict>
            <key>bestwish_luangdaobaobiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{100,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,355}}</string>
                <key>sourceSize</key>
                <string>{100,355}</string>
            </dict>
            <key>bestwish_pinganshunsui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1147},{93,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,352}}</string>
                <key>sourceSize</key>
                <string>{93,352}</string>
            </dict>
            <key>bestwish_qianbaobianpang.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1142},{100,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,354}}</string>
                <key>sourceSize</key>
                <string>{100,354}</string>
            </dict>
            <key>bestwish_shengjijiaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1147},{93,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,354}}</string>
                <key>sourceSize</key>
                <string>{93,354}</string>
            </dict>
            <key>bestwish_shentibeibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,938},{104,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,357}}</string>
                <key>sourceSize</key>
                <string>{104,357}</string>
            </dict>
            <key>bestwish_yiyebaofu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,816},{103,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,328}}</string>
                <key>sourceSize</key>
                <string>{103,328}</string>
            </dict>
            <key>countdown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1093},{32,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{32,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>countdown_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1130},{90,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{90,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>countdown_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,943},{80,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{80,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>countdown_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,793},{128,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,76}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,943},{148,199}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,199}}</string>
                <key>sourceSize</key>
                <string>{150,199}</string>
            </dict>
            <key>first_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,464},{232,327}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,327}}</string>
                <key>sourceSize</key>
                <string>{232,329}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,244},{135,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,45}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>no_award_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,464},{364,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{364,56}}</string>
                <key>sourceSize</key>
                <string>{368,60}</string>
            </dict>
            <key>receive_award_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{384,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,473}}</string>
                <key>sourceSize</key>
                <string>{384,473}</string>
            </dict>
            <key>share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{232,460}}</string>
                <key>offset</key>
                <string>{32,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{232,460}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,706},{220,464}}</string>
                <key>offset</key>
                <string>{38,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{220,464}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{234,486}}</string>
                <key>offset</key>
                <string>{31,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{234,486}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,236},{226,442}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{226,442}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,478},{226,464}}</string>
                <key>offset</key>
                <string>{27,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{226,464}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,238},{238,462}}</string>
                <key>offset</key>
                <string>{29,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{238,462}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,478},{212,458}}</string>
                <key>offset</key>
                <string>{15,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{212,458}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,477},{288,464}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,464}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1138}}</string>
                <key>sourceSize</key>
                <string>{640,1138}</string>
            </dict>
            <key>share_rb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,928},{200,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,457}}</string>
                <key>sourceSize</key>
                <string>{200,457}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_share.png</string>
            <key>size</key>
            <string>{2039,1244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3947b01b3f1d152dc916d70b607d247f:1/1$</string>
            <key>textureFileName</key>
            <string>texture_share.png</string>
        </dict>
    </dict>
</plist>
