<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beset_wish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,702},{112,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>countdown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,2},{32,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{32,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>countdown_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,702},{90,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{90,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>countdown_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,832},{80,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{80,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>countdown_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,962},{128,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,76}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,644},{148,199}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,199}}</string>
                <key>sourceSize</key>
                <string>{150,199}</string>
            </dict>
            <key>first_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,468},{232,327}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,327}}</string>
                <key>sourceSize</key>
                <string>{232,329}</string>
            </dict>
            <key>qr_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,702},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>receive_award_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{384,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,473}}</string>
                <key>sourceSize</key>
                <string>{384,473}</string>
            </dict>
            <key>share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,388},{232,460}}</string>
                <key>offset</key>
                <string>{32,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{232,460}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,876},{220,464}}</string>
                <key>offset</key>
                <string>{38,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{220,464}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,388},{234,486}}</string>
                <key>offset</key>
                <string>{31,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{234,486}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,876},{226,442}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{226,442}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{226,464}}</string>
                <key>offset</key>
                <string>{27,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{226,464}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,850},{238,462}}</string>
                <key>offset</key>
                <string>{29,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{238,462}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{212,458}}</string>
                <key>offset</key>
                <string>{15,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{212,458}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,2},{288,464}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,464}}</string>
                <key>sourceSize</key>
                <string>{296,526}</string>
            </dict>
            <key>share_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1138}}</string>
                <key>sourceSize</key>
                <string>{640,1138}</string>
            </dict>
            <key>share_rb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,644},{213,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,428}}</string>
                <key>sourceSize</key>
                <string>{213,428}</string>
            </dict>
            <key>songshu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,707},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>songshu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,644},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>songshu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,770},{64,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,59}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_share.png</string>
            <key>size</key>
            <string>{1941,1110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:457d7bf9988652f62220f688e22c2fce:1/1$</string>
            <key>textureFileName</key>
            <string>texture_share.png</string>
        </dict>
    </dict>
</plist>
