<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cnsjk_5.png</key>
			<dict>
				<key>width</key>
				<integer>538</integer>
				<key>height</key>
				<integer>396</integer>
				<key>originalWidth</key>
				<integer>538</integer>
				<key>originalHeight</key>
				<integer>396</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cnsjk_4.png</key>
			<dict>
				<key>width</key>
				<integer>488</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>488</integer>
				<key>originalHeight</key>
				<integer>228</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>398</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cnsjk_3.png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>540</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cnsjk_2.png</key>
			<dict>
				<key>width</key>
				<integer>254</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cnsjk_1.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>540</integer>
				<key>y</key>
				<integer>179</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>shuihua_10.png</string>
			<key>realTextureFileName</key>
			<string>shuihua_10.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>